.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px)
  }
  100% {
    transform: translateY(0px)
  }
}

.appGridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.one {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: lime;
}
.two { 
  grid-column: 3 / 4;
  grid-row: 2 / 4;
  background-color: lightsalmon;
}
.three {
  grid-column: 1;
  grid-row: 2 / 4;
  background-color: yellow;
}
.four {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: yellowgreen;
}
.five {
  grid-column: 1 / 4;
  grid-row: 4;
  background-color: blue;
}
.six {
  grid-column: 3;
  grid-row: 1;
  background-color: blueviolet;
}